
html {
    font-size: 16px;
}


#rug {
    /*float: right;*/
    /*text-align: right;*/
    position: fixed;
    margin: 0 auto;
    width: 15%;
    background-color: lightgray;
    height: 350px;
    top: 75px;
    z-index: 2;
    transition: width .25s;
    margin-left: -3px;
}


li
{
    list-style-type: none;
}


body
{
    font-family: sans-serif;
    background-attachment: fixed;
    background-color: lightgray;
    /*background-image: url("/img/GraphPaper.png");*/
    background-repeat: repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 0px;
    padding-right: 0px;
    /*padding-top: 30px;*/
    padding-bottom: 30px;
    margin: 0;
}


select
{
    font-size: .875em;
    /*font-size: 14px;*/
    height: 30px;
    vertical-align: middle;
}


input[type="submit"]
{
    /*font-size: 10px;*/
    font-size: .625em;
    text-transform: uppercase;
}


input[type="text"]
{
    font-family: sans-serif;
    /*font-size: 14px;*/
    font-size: .875em;
    vertical-align: middle;
}


input[type="password"]
{
    /*font-size: 14px;*/
    font-size: .875em;
    font-family: sans-serif;
    vertical-align: middle;
}


.menu {
    /*background-color: #323232;*/
    background-color: black;
    /*background-image: url("/img/DarkWood.jpg");*/
}


.button
{
    background-color: #D63333;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin: 5px;
    width: 60px;
    height: 29px;
    background: rgba(214,51,51,1);
    text-decoration: none;
}


.button:hover
{
    background: rgba(224,61,61,1);
    transition: all .25s;
}


/*
#password {
    display: inline-block;
}
*/


#reset-button
{
    margin-left: 5px;
}


#search-button
{
    margin-left: 20px;
}


#header
{
    background-color: white;
    /*background-color: black;*/
    background-image: url("/img/GraphPaper.png");
    min-height: 110px;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /*border-top: 10px solid gray;
    border-bottom: 10px solid gray;*/
    /*border-left: 1px solid black;
    border-right: 1px solid black;*/
    /*border-right: 10px solid gray;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


#about {
    font-size: .875em;
    visibility: hidden;
    z-index: 4;
    position: fixed;
    width: 40%;
    margin: 0px 0px 0px -20%;
    left: 50%;
}


#no-scroll {
    height: 100px;
    background-color: none;
}


#about-content {
    background-color: white;
    padding: 15px;
    /*border: 1px solid black;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


#about-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}


#attribution-text {
    /*margin-left: 15px;*/
}


#about:target {   
    visibility: visible;
}


#ok-button-container {
    text-align: center;
}


#nav-log-container {
    background-color: black;
    height: 48px;
    margin-bottom: -48px;
    border-bottom: 1px solid lightblue;
}


#title
{
    clear: both;
    position: relative;
    left: 183px;
    /*text-align: center;
    padding-bottom: 0px;
    padding-top: 20px;*/

}


#title-name
{
    clear: both;
    display: inline-block;
    font-family: 'Neucha', sans-serif;
    /*font-size: 92px;*/
    font-size: 5.75em;
    font-weight: bold;
    color: black;
    /*padding-left: 5px;*/
    padding-top: 15px;
    /*padding-bottom: 15px;*/
    /*border-bottom: 10px solid gray;*/
    /*text-shadow:3px 3px 5px gray;*/
    /*text-shadow: 0 0 3px lightblue;*/
    /*background-color: white;*/
}


#title-PR {

}

#title-cog {
    /*blue's:
        78C3EB
        CBE9F6
        9BCEEA
        lightblue
    */
    /*color: #9BCEEA;
    text-shadow: 1px 1px 0px black,
                 2px 2px 0px gray;*/
    margin-right: -2px;
    margin-left: 0px;
    transition: margin 1s;
}

#title-JECT {

}

/* #title-desc
{
    display: none;
    font-family: 'Neucha', sans-serif;
    font-size: 1.125em;
    color: black;
    margin-left: 200px;
    margin-bottom: -44px;
} */


/* arm slide in on page load */
/*@-webkit-keyframes armslide {
    0% {margin-left: -300px;}
    100% {margin-left: 0px;}
}
@-moz-keyframes armslide {
    0% {margin-left: -300px;}
    100% {margin-left: 0px;}
}
@keyframes armslide {
    0% {margin-left: -300px;}
    100% {margin-left: 0px;}
}*/


#robot-arm {
    position: relative;
    top: -105px;
    margin-bottom: -100px;
    transition: margin 1s;


    /* arm slide in on page load */
    /*-webkit-animation-delay: 1s;*/
    /*-webkit-animation-name: armslide;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;*/

    /*-moz-animation-delay: 1s;*/
    /*-moz-animation-name: armslide;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;*/

    /*-animation-delay: 1s;*/
    /*-animation-name: armslide;
    -animation-duration: 1s;
    -animation-iteration-count: 1;
    -animation-timing-function: ease;*/

}


#robot-roller {
    float: right;
    position: fixed;
    top: 50px;
    width: 252px;
    height: 169px;
    margin-right: 0px;
    visibility: hidden;
    /*display: inline-block;*/

}

#login-menu {
    /* -- same as logout-menu -- */
    width: 42%;
    float: right;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 4px;
    margin-left: 0px;
    /*margin-right: 0px;*/
    text-align: right;
    /*background-color: black;*/
    /*border-bottom: 1px solid lightblue;*/
}


#login-button
{
    /*vertical-align: middle;
    margin-top: -32px;*/
    margin-left: 10px;
    margin-right: 10px;
}


#logout-button {
    margin-right: 10px;
}


#nav-menu
{
    /*display: inline-block;*/
    float: left;
    /*background-color: black;*/
    /*float: left;*/
    /*margin-top: 31px;
    margin-right: 15px;*/
    /*font-weight: bold;*/
    /*padding-top: 5px;*/
    /*margin: 0 auto;*/
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-bottom: 20px;*/
    width: 58%;
    color: white;
    /*border-top: 1px solid lightblue;*/
    /*border-bottom: 1px solid lightblue;*/
    /*border-bottom: 1px solid white;*/
    text-align: left;
}


.nav-menu-item
{
    /*display: inline-block;*/
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;*/
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 15px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}


#nav-menu-item-last {
    padding-right: 20px;
}

.nav-menu-icon
{
    /*margin-right: 3px;*/
    transition: font-size .5s;
}


.nav-menu-item:hover
{
    color: #D63333;
    /*background: rgba(0,0,0,.30);*/
    /*background-color: #323232;*/
    transition: color .25s;
}


.nav-menu-icon-blogger
{
    font-family: Blogger;
}


#logo-container
{
    display: inline-block;
    /*margin-right: 10px;
    margin-left: 10px;
    margin-top: 25px;
    vertical-align: top;*/
    margin-left: 5px;
    vertical-align: bottom;
    margin-bottom: -6px;
}


#logo-image
{
    /*background-color: black;*/
    border-radius: 50%;
    /*border: 1px solid gray;*/
    border: 10px dashed black;
    /*-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
}


#logout-menu
{
    /* -- same as login-menu -- */
    width: 40%;
    float: right;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 4px;
    margin-left: 0px;
    text-align: right;
    /*background-color: black;*/
    border-bottom: 1px solid lightblue;
}


#filter
{
    /*background-color: black;*/
    /*text-align: center;*/
    display: inline-block;
    clear: both;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    /*border-bottom: 1px solid lightblue;*/
}


#filtera
{
    display: inline-block;
}


#find {
    width: 310px;
}


#filterb
{
    display: inline-block;
}


#search-form
{
    display: inline-block;
}

#reset-form
{
    display: inline-block;
}


.label
{
    /*margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    -webkit-text-size-adjust: none;
    color: white;*/
    /*border: 1px solid black;*/
    color: gray;
    margin-left: 30px;
}


/*#label-for-limit
{
    margin-left: 30px;
}


#label-for-find
{
    margin-left: 30px;
}*/


#form-container
{
    /*background: rgba(0,0,0,.30);*/
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
    /*margin-bottom: 60px;*/
    margin-left: 15px;
    margin-right: 15px;
}


#error-container
{
    clear: both;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    margin: 0 auto;
}


.error-message
{
    color: #D63333;
    font-size: 1em;
    /*background: rgba(0,0,0,.30);*/
}


#newpost {
    padding-top: 10px;
}


/* KEEP */
.transparent-textarea
{
    padding: 6px;
    font-family: sans-serif;
    font-size: .875em;
    color: gray;
    width: 100%;
    max-width: 100%;
    border: 0px solid gray;
    border-bottom-width: 1px;
    background: rgba(0,0,0,.60);
}


.white-textarea
{
    padding: 6px;
    font-family: sans-serif;
    font-size: .875em;
    color: black;
    width: 100%;
    max-width: 100%;
    border: 1px solid gray;
}


#tag-table
{
    /*background-color: gray;*/
    padding-top: 10px;
    font-size: 1em;
    color: black;
    max-width: 100%;
}


#tag-list
{
    -webkit-column-width: 130px;
    -moz-column-width: 130px;
    column-width: 130px;
    padding-left: 15px;
}


#new-tags-label
{
    display: inline-block;
    font-style: italic;
    padding-left: 4px;
}


#new-tags-textbox
{
    margin-left: 0px;
}


/* KEEP */
.transparent-textbox
{
    border: 0px solid gray;
    border-bottom-width: 1px;
    background: rgba(0,0,0,.60);
    color: gray;
    padding: 6px;
    margin: 4px;
}


.white-textbox
{
    border: 1px solid gray;
    background-color: white;
    padding: 6px;
    margin: 4px;
}


.tag-checkbox
{
    display: none;
}


.selected
{
    font-style: italic;
    color: #78C3EB;
    /* KEEP */
    /*color: #78C3EB;*/
    /*color: #FFFF66;*/
    /*color: orange;*/
    /*color: lime;*/
    /*color: #00CCFF;*/
    background: rgba(0,0,0,.90);
    /*background-color: black;*/
    cursor: pointer;
    /* KEEP */
    border: 1px solid black;
    /* KEEP (needed if adding 1px border) */
    padding-left: 3px;
    padding-right: 3px;
}


.notselected
{
    font-style: italic;
    cursor: pointer;
    /*border: 1px solid lightgray;*/
    /* KEEP (needed if adding 1px border) */
    padding-left: 4px;
    padding-right: 4px;
}


#post-table
{
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    /*border-bottom: 10px solid gray;
    border-left: 10px solid gray;
    border-right: 10px solid gray;*/
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}


.post-row
{
    clear: both;
    overflow: hidden;
    border-bottom: lightgray solid 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 7px;
    padding-bottom: 20px;
    width: 100%;
}


.post-date-time
{
    font-size: .875em;
    font-weight: bold;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 31px;
}


.post-content
{
    font-size: .875em;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 5px;
    padding: 15px;
    word-wrap: break-word;
}


.tag-bottom-menu /* entire tag bar */
{
    display: inline-block;
    padding-left: 30px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
    padding-top: 0px;
}


.tag-bottom /* individual tags in tag bar */
{
    float: left;
    display: inline-block;
    padding-right: 10px;
    background-color: none;
    padding-top: 10px;
}


.tag-bottom-submit /* the actual submit button in each tag */
{
    height: 25px;
    font-size: .75em;
    color: white;
    font-weight: bold;
    background-color: black;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
}


.post-edit-delete
{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 15px;
    float: right;
}


#edit
{
    float: left;
}


#delete
{
    float: right;
}

/* KEEP */
.highlight
{
    background-color: yellow;
}


@media only screen and (min-width: 1400px) {
    .container {
        /*padding-top: 30px;*/
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
        background: white;
        width: 70%;
        transition: width .5s;
    }
    #rug {
        width: 15%;
        transition: width .5s;
    }
    .nav-menu-icon{
        font-size: 1.5em;    
    }
    .nav-menu-text{
        display: none;
    }

    
}


@media only screen and (max-width: 1400px) {
    .container {
        /*padding-top: 30px;*/
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
        background: white;
        width: 80%;
        transition: width .5s;
    }
    #rug {
        width: 10%;
        transition: width .5s;
    }
    .nav-menu-icon{
        font-size: 1.5em;    
    }
    .nav-menu-text{
        display: none;
    }
    #about {
        width: 50%;
        margin: 0px 0px 0px -25%;
    }
}


@media only screen and (max-width: 1280px) {
    .container {
        /*padding-top: 0px;*/
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
        background: white;
        width: 100%;
        transition: width .5s;
    }
    #rug {
        width: 0px;
    }
    body {
        padding-bottom: 0px;
    }
    .nav-menu-icon{
        font-size: 1.5em;    
    }
    .nav-menu-text{
        display: none;
    }

}

@media only screen and (min-width: 851px) {
    /* arm slide in on page load */
    @-webkit-keyframes armslide {
        0% {margin-left: -300px;}
        100% {margin-left: 0px;}
    }
    @-moz-keyframes armslide {
        0% {margin-left: -300px;}
        100% {margin-left: 0px;}
    }
    @keyframes armslide {
        0% {margin-left: -300px;}
        100% {margin-left: 0px;}
    }

    #robot-arm {
        /* arm slide in on page load */
        /*-webkit-animation-delay: 1s;*/
        -webkit-animation-name: armslide;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;*/

        /*-moz-animation-delay: 1s;*/
        -moz-animation-name: armslide;
        -moz-animation-duration: 1s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;

        /*-animation-delay: 1s;*/
        -animation-name: armslide;
        -animation-duration: 1s;
        -animation-iteration-count: 1;
        -animation-timing-function: ease;
    }
}

@media only screen and (max-width: 851px) {
    .container {
        /*padding-top: 0px;*/
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto;
        background: white;
        width: 100%;
        transition: width .5s;
    }
    body {
        padding-bottom: 0px;
    }
    #nav-menu {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        /*border-top: 0px;*/
        border-bottom: none;
        /*padding-left: 5px;*/
    }
    .nav-menu-item {
        /*padding: 0px;*/
    }
    #login-menu {
        /*margin: 0 auto;*/
        text-align: center;
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px solid lightblue;
        /*background-color: yellow;*/
    }
    #login {
        margin-left: 10px;
    }
    #logout-menu {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    #logout-button {
        margin-right: 0px;
    }
    .nav-menu-icon {
        font-size: 1em;
        transition: font-size .5s;
    }
    .nav-menu-text {
        display: none;
    }

    #title-PR {

    }
    #title-cog {
        margin-left: -300px;
        margin-right: 300px;
        transition: margin-left 1s, margin-right 1s;
    }
    #title-JECT {
        
    }

    #title-desc {
        display: none;
    }

    #robot-arm {
        /*width: 50%;
        height: 50%;*/
        /*top: -65px;*/
        /*margin-bottom: -100px;*/
        /*transition: width .5s;
        transition: height .5s;*/
        margin-bottom: -285px;
        margin-left: -300px;
        transition: margin 1s;
    }
    #error-container {
        margin-top: -30px;
        transition: margin 1s;
    }
    #filter {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    #find {
        width: 290px;
    }
    #filtera{
        margin-left: -45px;
        padding-bottom: 5px;
        /*padding-left: 15px;*/
        /*border-bottom: 1px solid lightblue;*/
    }
    #filterb{
        margin-left: -45px;
        padding-top: 5px;
        display: block;
        /*padding-left: 15px;*/
        /*border-bottom: 1px solid lightblue;*/
        /*border-top: 1px solid gray;*/
    }
    #about {
        width: 60%;
        margin: 0px 0px 0px -30%;
    }

}


@media only screen and (max-width: 675px) {
    /*#nav-log-container {
        border-bottom: 1px solid lightblue;
        background-color: red;
        height: 88px;
    }*/

    #nav-menu {
        border-bottom: none;
        position: fixed;
    }
    #login-menu {
        border-bottom: 1px solid lightblue;
        margin-top: 39px;
        position: fixed;
    }
    #filter {
        border-top: 1px solid lightblue;
        border-bottom: none;
        position: fixed;
        bottom: 0px;
        transition: bottom 2s;
    }
    #robot-arm {
        /*display: none;*/
        visibility: hidden;
    }
    #title {
        /*background-color: red;*/
        /*margin-bottom: -50px;
        padding-bottom: 0px;*/
        /*margin-bottom: -52px;*/
        top: 90px;
        /*left: -900px;*/
        margin-left: -900px;
        transition: margin-left 2s;
    }
    #title-cog {
        display: none;
    }
    #robot-roller {
        /*display: inline-block;*/
        visibility: visible;
        top: 50px;
        margin-right: 900px;
        /*margin-left: 0px;*/
        transition: margin 2s;
        /*margin-left: ;*/
        z-index: 1;
    }
    #error-container {
        /*margin-top: -100px;*/
    }
    #header {
        /*background-image: none;*/
        /*background-color: white;*/
        height: 238px;
        border: none;
        bottom-border: none;
        box-shadow: none;
        margin-bottom: -290px;
        transition: margin 2s;
        transition-delay: .1s;
    }
    #post-table {
        background-color: white;
        margin-top: 140px;
        margin-bottom: 95px;
        border-top: none;
        box-shadow: none;
        transition: all 2s;
    }
}